---
title:      .NET Web Development kurs
course_id:  dotnet
extra_css:
  - /css/courses.css
---
<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="page-top" class="index">
    {% include navbar.html %}
    <section id="courses" class="courseDetails">
		<div class="container">
			<span class="fa-stack fa-5x courseIcon">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
            </span>
			<h1 class="courseTitle">.NET Web Development kurs</h1>
			<p>
			Kurs je namenjen onima koji žele da steknu kompetencije junior full stack developera za razvoj web aplikacija na .NET platformi. Polaznici koji na završnom ispitu ostvare najbolje rezultate će dobiti mogućnost da se prijave za posao u kompaniji <span class="priceSpan">Vega IT Sourcing</span>. Posao će dobiti samo najbolji kandidati koji poseduju adekvatne veštine i znanje za trenutne otvorene pozicije u Vega IT Sourcing. Kompanija zadržava pravo da neke od kandidata pozove na dodatnu stručnu praksu. Ukoliko polaznici uspešno prođu proces selekcije, i zaposle se u kompaniji Vega IT Sourcing, uplaćeni novac za pohađanje kursa će im biti vraćen. <span class="priceSpan"><a href="#footnote1">*</a></span> 
			</p>
            <p>
				Za pohađanje kursa poželjno je da polaznici kursa imaju određena predznanja iz programiranja u programskim jezicima visokog nivoa (C#, Java, C++ i sl.). Kao pomoć u proceni programerskih veština eventualnih polaznika kursa, organizujemo besplatna preliminarna testiranja.
            </p>
            <p>
                Kurs <span class="priceSpan">.NET Web Development</span> je podeljen na tri logičke celine, odnosno, modula: Osnove C# programiranja (modul 1.), Osnove .NET veb programiranja (modul 2.) i Napredno .NET veb programiranje (modul 3.). Predavanja se sastoje iz kraćeg teoretskog dela, u kojem se polaznici upoznaju sa odgovarajućim konceptima i većeg broja zadataka, u kojima polaznici primenjuju naučene koncepte u praksi. Na kraju svakog predavanja polaznici dobijaju domaće zadatke, namenjene za utvrđivanje gradiva i sticanje samostalnosti u radu. Za svakog polaznika kursa obezbeđen je računar, softver neophodan za realizaciju nastave i nastavni materijal u elektronskoj formi.
            </p>
			<h2 class="courseSubtitle">Sadržaj kursa i kompetencije koje obezbeđuje</h2>
            <h3>Modul 1. Osnove C# Programiranja</h3>
			<p>
                <ul>
                    <li>Korišćenje Visual Studio okruženja</li>
                    <li>Poznavanje osnovnih koncepata objektnog programiranja (apstrakcija, generalizacija, polimorfizam)</li>
                    <li>Sposobnost programiranja osnovnih algoritamskih struktura
Korišćenje funkcija</li>
                    <li>Sposobnost rada sa ulazom i izlazom (standardni ulaz/izlaz i fajl sistem)</li>
                    <li>Elementarni rad sa bazama podataka (osnove relacionog modela, SQL jezika i mehanizmi povezivanja C# aplikacije sa bazom podataka)</li>
                    <li>Korišćenje eksternih .NET biblioteka</li>
                    <li>Korišćenje GIT sistema za kontrolu verzija programskog koda</li>
                    <li>Korišćenje biblioteke za Unit testiranje softvera</li>
                </ul>
            </p>
            <h3>Modul 2. Osnove veb programiranja</h3>
            <p>
                <ul>
                    <li>Poznavanje osnovnih i jednog dela naprednih HTML 4 i HTML 5 koncepata i struktura</li>
                    <li>Poznavanje osnovnih i jednog dela naprednih CSS koncepata i struktura</li>
                    <li>Korišćenje Visual Studio okruženja sa akcentom na segment za veb programiranje</li>
                    <li>Sposobnost korišćenja IIS veb servera (bazični principi, puštanje aplikacije u produkciju - deploy)</li>
                    <li>Poznavanje koncepata i tehnologija .NET MVC (Model View Controler), Razor, HTML Helpers, Data Annotation, Data Binding, Data Validation.</li>
                    <li>Sposobnost programiranja bazične veb aplikacije koja koristi bazu podataka</li>
                    <li>Poznavanje osnovnih i jednog dela naprednih struktura JavaScript programskog jezika</li>
                    <li>Poznavanje osnovnih i jednog dela naprednih struktura JQuery</li>
                    <li>Sposobnost izrade kompetne veb aplikacije bazirane .NET MVC tehnologiji</li>
                </ul>
            </p>
            <h3>Modul 3. Napredno veb programiranje</h3>
            <ul>
                <li>Poznavanje koncepata i načina korišćenja Entity Framework</li>
                <li>Poznavanje osnova objektno-relacionog mapiranja, Auto Mapper, LINQ</li>
                <li>Scaffolding, Partial View</li>
                <li>Poznavanje Dependency injection šablona</li>
                <li>Poznavanje REST koncepata</li>
                <li>Sposobnost izrade REST servisa korišćenjem ASP.NET Web API</li>
                <li>Korišćenje Bootstrap biblioteke, Sorting, Pagination</li>
                <li>AJAX, Ovladavanje single-page application (SPA) konceptom</li>
                <li>Autorizacija i Autentifikacija, osnove OAuth principa</li>
            </ul>
            <h2 class="courseSubtitle">Završni ispit i sertifikacija</h2>
            <p>
            	Na kraju kursa organizuje se završni ispit, koji obuhvata celokupno gradivo kursa. Po završetku kursa polaznicima se dodeljuju sertifikati o pohađanju ili uspešno završenom kursu, u zavisnosti od rezultata ostvarenih na završnom ispitu. Kurs je uspešno završen, ako polaznik na završnom ispitu ostvari najmanje 50% mogućih bodova.
            </p>
            <h2 class="courseSubtitle">Trajanje i organizacija kursa</h2>
            <p>
                Ukupno trajanje kursa je 99 časova (13-14 nedelja), organizovanih u tri modula. Nastava pojedinog modula traje 30 časova (4 nedelje), organizovanih u 10 predavanja po 3 časa , održavaju se 3 predavanja nedeljno i ispit na kraju četvrte nedelje. Izuzetak je prvi modul koji traje 39 časova (5 nedelja).
            </p>
            <h2 class="courseSubtitle">Mogućnost zaposlenja</h2>
	    <p>
	    	Kurs je namenjen onima koji žele da steknu kompetencije junior full stack developera za razvoj web aplikacija na .NET platformi. Polaznici koji na završnom ispitu ostvare najbolje rezultate će dobiti mogućnost da se prijave za posao u kompaniji <span class="priceSpan">Vega IT Sourcing</span>. Posao će dobiti samo najbolji kandidati koji poseduju adekvatne veštine i znanje za trenutne otvorene pozicije u <span class="priceSpan">Vega IT Sourcing</span>. Kompanija zadržava pravo da neke od kandidata pozove na dodatnu stručnu praksu. Ukoliko polaznici uspešno prođu proces selekcije, i zaposle se u kompaniji Vega IT Sourcing, uplaćeni novac za pohađanje kursa će im biti vraćen. <span class="priceSpan"><a href="#footnote1">*</a></span> 
	    </p>
            <h2 class="courseSubtitle">Cena</h2>
            <p>
            	Ukupna cena kursa iznosi <span class="priceSpan">600 evra</span> u dinarskoj protivvrednosti, po srednjem kursu Narodne banke Srbije na dan plaćanja, uz mogućnost uplate cene kursa u dve rate.
            </p>
            {% include footnotes.html %}
		</div>
	</section>
    {% include team.html %}
    {% include location.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
