---
title:  Pitanja
extra_css:
  - /css/courses.css
---

<!DOCTYPE html>
<html>
	{% include head.html %}
    <body id="page-top" class="index">
	    {% include navbar.html %}
	    <section id="questions" class="courseDetails">
	    	<div class="container">
	    		<span class="fa-5x courseIcon text-center">
	               <i class="fa fa-question-circle fa-2x text-primary"></i>
            	</span>
	    		<h1 class="courseTitle">Najčešće postavljana pitanja</h1>


	    		<h2 class="courseSubtitle">Na koji način mogu da dobijem informacije potrebne za donošenje odluke o upisu na kurs?</h2>

	    		<p>
	    			Potrudili smo se da većinu informacija o kursevima koje organizujemo objavimo na ovom sajtu.
	    		</p>

	    		<p>
	    			Ukoliko su Vam potrebne dodatne informacije, stojimo Vam na raspolaganju za sva objašnjenja i pomoć u izboru odgovarajućeg formata obuke, tako da obuka koju odaberete bude prilagođena Vašim planovima i prethodnom programerskom iskustvu. Možete nas kontaktirati na e-mail javawebdevcourse@gmail.com ili zakazati razgovor putem istog e-maila. 
	    		</p>

	    		<h2 class="courseSubtitle">Kako se prijavljuje za upis na kurs?</h2>
	    		<p>Prijava za upis na kurs vrši se slanjem e-maila prijave za upis na adresu javawebdevcourse@gmail.com.
				U mailu prijave, potrebno je da navedete: 
				</p>
				<ul>
					<li>Vaše ime, prezime, adresu stanovanja, broj telefona i e-mail adresu
					</li>	
					<li>naziv, broj i datum početka kursa/kurseva za koji se prijavljujete. Ove podatke ćete naći na osnovnoj stranici sajta u sekciji <a href="/#naredni">Naredni kursevi</a>.	
					</li>
					<li>
						Nakon prijave dobićete odgovor putem e-maila.
					</li>
				</ul>

				<h2 class="courseSubtitle">Kako se upisuje na listu čekanja za neki od popunjenih kurseva?
				</h2>
				<p>Na osnovnoj stranici sajta u sekciji <a href="/#naredni">Naredni kursevi</a> ćete naći i spisak već popunjenih kurseva za koje se možete prijaviti na listu čekanja na odustajanje. Ukoliko se prijavite na ovu listu, ponudićemo Vam upis na kurs ako polaznici koji su prijavljeni pre Vas odustanu.</p>
				<p>
				Ako ste zainteresovani za upis na ovu listu, u e-mailu prijave za upis na kurs (pored podataka navedenih u prethodnoj tački), treba da dodate i
				</p>
				<ul>
					<li>naziv, broj i datum početka kursa/kurseva za koje želite biti upisani na listu čekanja na odustajanje.
					</li>
				</ul>

				<h2 class="courseSubtitle">Da li je neophodno predznanje za upis na kurseve?
				</h2>

				<p>
					Ne preporučujemo upis na kurseve naprednih tehnologija (Java Web Development, Front End Web Development, Test Development, Android Development i napredni modul kursa Veb programiranje) ukoliko nemate predznanje programiranja.
				</p>
				<p>
					U slučaju da nemate predznanje iz programiranja, preporučujemo Vam da upišete produženu obuku iz Veb programiranja ili intenzivni kurs Osnova programiranja. 
				</p>
				<p>
					Ukoliko niste sigurni da li imate odgovarajuće predznanje, nudimo Vam i mogućnost besplatnog testiranja kako biste mogli da utvrdite da li već imate predznanje za učenje naprednih tehnologija. Ovo testiranje nije obavezno, ali se preporučuje pre odluke da direktno upišete kurseve naprednih tehnologija. Besplatno preliminarno testiranje možete zakazati slanjem e-maila na adresu javawebdevcourse@gmail.com
				</p>

				<h2 class="courseSubtitle">Kada se organizuje potpisivanje ugovora o pohađanju kursa?
				</h2>

				<p>
					Ukoliko ste se prijavili za upis na kurs, e-mail poziva na potpisivanje ugovora ćemo Vam poslati oko dve nedelje pre početka kursa. U prilogu e-maila, dostavićemo Vam ugovor u elektronskoj formi, kako bi se pre potpisivanja upoznali sa sadržajem ugovora. 
				</p>

				<h2 class="courseSubtitle">Kolike su cene pohađanja kurseva?
				</h2>
				<ul>
					<li>
						Cena kursa Osnove programiranja je 240 evra.
					</li>
					<li>
						Cene kurseva Java web development, Front-end web development, Test development i Android App development su 600 evra.
					</li>
					<li>
						Cena produžene obuke iz Veb programiranja je 1200 evra (uvodni modul je 600 evra i napredni modul je 600 evra).
					</li>
				</ul>
						
				<p>
					Sve cene su izražene u evrima, a uplate se vrše u dinarskoj protivvrednosti, po srednjem kursu Narodne banke Srbije, na dan plaćanja.
				</p>

				<h2 class="courseSubtitle">Kako i kada je potrebno izvršiti plaćanje cene kursa?
				</h2>

				<p>
					Za kurs Osnove programiranja, plaćanje se vrši odjednom u celom iznosu. Za kurseve Java Web Development, Front End Web Development, Test Development i Android App Development, omogućeno je plaćanje u dve mesečne rate u iznosu od po 300 evra. Obuku iz Veb programiranja moguće je platiti u 4 rate od po 300 evra.
				</p>
				<p>
					Podatke za uplatu ćete dobiti pri potpisivanju ugovora. Uplatu možete izvršiti i elektronski putem e-bankinga. Plaćanje prve rate vrši se nakon potpisivanja ugovora, a pre početka nastave na kursu. 
				</p>

				<h2 class="courseSubtitle">Kada se održava nastava na kursevima?
				</h2>

				<p>
					Nastava na svim kursevima se organizuje u večernjim časovima. Zavisno od kursa, nastava počinje najranije u 17:45, a završava najkasnije do 21:30 časova.
				</p>

				<h2 class="courseSubtitle">Koliko traju parcijalni i završni ispiti i da li rezultat na parcijalnim ispitima utiče na konačan uspeh na kursu?
				</h2>

				<p>
					Završni i parcijalni ispiti traju tri sata. Rezultat na parcijalnom ispitu ne utiče na konačan uspeh na kursu. Uspeh na kursu zavisi od broja bodova koje je polaznik osvojio na završnom ispitu.
				</p>

				<h2 class="courseSubtitle">Kada se vrši dodela sertifikata?
				</h2>

				<p>
					Dodela sertifikata polaznicima se organizuje nakon završetka kursa, najkasnije mesec dana po završetku. Ukoliko polaznik na završnom ispitu ostvari rezultat od minimalno 50% ukupno mogućih poena, dobija sertifikat o uspešno završenom kursu. Ako je rezultat manji od 50%, polaznik dobija sertifikat o pohađanju kursa.
				</p>

				<h2 class="courseSubtitle">Da li mogu da se istovremeno prijavim na kurs Osnove programiranja i neki od naprednih intenzivnih kurseva?
				</h2>	

				<p>
					Obzirom da se mesta na naprednim intenzivnim kursevima brzo popunjavaju, ukoliko se upisujete na intenzivni kurs Osnove programiranja, a želite nakon toga pohađati neki od intenzivnih naprednih kurseva, preporučujemo Vam da se istovremeno prijavite za upis i na željeni napredni kurs koji počinje nakon kursa "Osnove programiranja". 	
				</p>

				<h2 class="courseSubtitle">Koji je uslov za odlazak na selekciju za zaposlenje u kompaniji "Levi 9 IT Services"?
				</h2>

				<p>
					Polaznici koji na završnom testu intenzivnih kurseva (osim Osnova programiranja), kao i na završnom testu naprednog modula obuke iz Veb programiranja, ostvare rezultat od minimalno 65% ukupno mogućih poena, dobijaju poziv za selekciju za zaposlenje u kompaniji Levi9 IT Services.
				</p>

	    	</div>
	    </section>
	</body>
</html>





