---
title:      Front-End Web Development
course_id:  fed
extra_css:
  - /css/courses.css
---
<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="page-top" class="index">
    {% include navbar.html %}
    <section id="courses" class="courseDetails">
		<div class="container">
			<span class="fa-stack fa-5x courseIcon">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-code fa-stack-1x fa-inverse"></i>
            </span>
			<h1 class="courseTitle">Front-End Web Development</h1>
            <p>
                Ovo je intenzivni kurs namenjen osobama koje žele steći kompetencije junior developera za razvoj klijentskog dela web aplikacija<a href="#footnote1">*</a></span>. Polaznici koji ostvare više od 65% bodova na završnom testu dobijaju mogućnost da pristupe procesu selekcije za zaposlenje u kompaniji Levi9 IT Services. Polaznicima koji se zaposle u kompaniji Levi9, vraća se novac uplaćen na ime cene kursa.
            </p>
			<p>
                Za pohađanje kursa poželjno je da polaznici imaju odgovarajuća predznanja iz programiranja u programskim jezicima visokog nivoa (Java, C++, C# i slično). Kao pomoć u proceni programerskih veština interesenata za kurs, organizujemo besplatna preliminarna testiranja. Ukoliko znate da nemate predznanje iz programiranja ili to ustanovite na preliminarnom testiranju, možete se opredeliti za pohađanje kursa <a href="/osnoveprogramiranja/" target="_blank">Osnove programiranja</a>, koji organizujemo kao pripremu za uspešno praćenje nastave na Front-End Web Development kursu. 
            </p>
            <p>
                Kurs Front-End Web Development je podeljen na tri logičke celine, odnosno, modula: Osnove web dizajna i klijentskog web programiranja (modul 1), JavaScript programiranje (modul 2) i AngularJS programiranje (modul 3). 

                Svaki termin nastave se sastoji iz kraćeg teoretskog dela, u kojem se polaznici upoznaju sa odgovarajućim konceptima, i većeg broja primera i zadataka, kroz koje polaznici primenjuju naučene koncepte u praksi. Na kraju svakog predavanja polaznici dobijaju domaće zadatke namenjene za utvrđivanje gradiva i sticanje samostalnosti u radu. 

                Za polaznike kursa obezbeđen je računar, softver neophodan za realizaciju nastave i nastavni materijal u elektronskoj formi. 
			</p>
			<h2 class="courseSubtitle">Sadržaj kursa i kompetencije koje obezbeđuje</h2>
            <h3>Modul 1. Osnove veb dizajna i klijentskog veb programiranja</h3>
			<p>
                <ul>
                    <li>Poznavanje HTTP protokola</li>   
                    <li>Poznavanje HTML 5 koncepata</li>
                    <li>Poznavanje CSS 3 koncepata</li>
                    <li>Poznavanje opštih principa dizajna za izradu user-friendly web stranica</li>
                    <li>Poznavanje ECMA 6 standarda</li>
                    <li>Korišćenje Git sistema za kontrolu verzija</li>
                    <li>Poznavanje SaSS jezika</li>
                    <li>Instalacija i administracija WordPress sajta</li>
                </ul>
            </p>

            <h3>Modul 2. JavaScript programiranje</h3>
            <p>
                <ul>
                    <li>Poznavanje proceduralnog programiranja u JavaScript jeziku</li>
                    <li>Poznavanje objektnog programiranja u    JavaScript jeziku</li>
                    <li>Poznavanje JQuery biblioteke i AJAX tehnologija</li>
                </ul>
            </p>

            <h3>Modul 3. AngularJS programiranje</h3>
            <p>
                <ul>
                    <li>Ovladavanje single-page application (SPA) konceptom</li>
                    <li>Poznavanje AngularJS JavaScript radnog okvira</li>
                    <li>Poznavanje pratećih alata za izradu SPA aplikacija (npm, bower, gulp)</li>
                    <li>Poznavanje često korištenih biblioteka za proširenje AngularJS</li>
                    <li>Poznavanje osnova unit testova AngularJS radnog okvira</li>
                </ul>
            </p>
            </p>
            <h2 class="courseSubtitle">Završni ispit i sertifikacija</h2>
            <p>
            	Na kraju kursa organizuje se završni ispit, koji obuhvata celokupno gradivo kursa. Po završetku kursa polaznicima se dodeljuje sertifikat o pohađanju ili uspešno završenom kursu, u zavisnosti od rezultata ostvarenih na završnom ispitu. Kurs je uspešno završen, ako polaznik na završnom ispitu ostvari najmanje 50% mogućih bodova. 
            </p>
            <h2 class="courseSubtitle">Trajanje i organizacija kursa</h2>
            <p>
               Ukupno trajanje kursa sa završnim testom je oko 3 meseca, u toku kojih se realizuje 90 časova nastave. Nastava je organizovana u 30 predavanja, od po 3 časa. Održavaju se 3 predavanja nedeljno. Kurs obuhvata tri modula, pri čemu svaki modul sadrži 30 časova (10 predavanja). 
            </p>
            <p>
                Na kraju svakog modula organizuje se poseban termin za ispit. Rezultati sa ispita nakon prvog i drugog modula ne utiču na sertifikaciju i služe kao informacija polazniku u kojoj meri je savladao gradivo modula. Nakon trećeg modula organizuje se završni ispit na osnovu kojeg se vrši sertifikacija. 
            </p>
            <h2 class="courseSubtitle">Cena</h2>
            <p>
            	Ukupna cena kursa iznosi <span class="priceSpan">600 evra</span> u dinarskoj protivvrednosti na dan plaćanja, uz mogućnost uplate cene kursa u dve rate.
            </p>
            {% include footnotes.html %}
		</div>
	</section>
    {% include team.html %}
    {% include location.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>