---
title:  Java Web Development
course_id:  jwd
extra_css:
  - /css/courses.css

# PRIMER FUSNOTA SPECIFICNIH ZA STRANICU:
# footnotes:
#  - id: footnote1
#    text: Prva fusnota.
#  - id: footnote2
#  - text: Druga fusnota.
---
<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="page-top" class="index">
    {% include navbar.html %}
    <section id="courses" class="courseDetails">
		<div class="container">
			<span class="fa-stack fa-5x courseIcon">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
            </span>
			<h1 class="courseTitle">Java Web Development</h1>
			<p>
				Kurs je namenjen onima koji žele da steknu kompetencije junior developera za razvoj web aplikacija na Java platformi<a href="#footnote1">*</a></span>. Polaznici koji ostvare više od 65% bodova na završnom testu, dobijaju mogućnost da pristupe procesu selekcije za zaposlenje u kompaniji Levi9 IT Services. Polaznicima koji se zaposle u kompaniji Levi9, vraća se novac uplaćen za pohađanje kursa. 
            </p>
            <p>
                Za pohađanje kursa poželjno je da polaznici imaju odgovarajuća predznanja iz programiranja u programskim jezicima visokog nivoa (Java, C++, C# i slično). Kao pomoć u proceni programerskih veština interesenata za kurs, organizujemo besplatna preliminarna testiranja. Ukoliko znate da nemate predznanje iz programiranja ili to ustanovite na preliminarnom testiranju, možete se opredeliti za pohađanje kursa <a href="/osnoveprogramiranja/" target="_blank">Osnove programiranja</a>, koji organizujemo kao pripremu za uspešno praćenje nastave na Java Web Development kursu.
            </p>
            <p>
                Kurs Java Web Development je podeljen na tri logičke celine, odnosno, modula: Osnove Java programiranja, Osnove veb programiranja, i Napredno veb programiranje. 

                Svaki termin nastave se sastoji iz kraćeg teoretskog dela, u kojem se polaznici upoznaju sa odgovarajućim konceptima i većeg broja primera i zadataka, kroz koje polaznici primenjuju naučene koncepte u praksi. Na kraju svakog predavanja polaznici dobijaju domaće zadatke, namenjene za utvrđivanje gradiva i sticanje samostalnosti u radu. 

                Za polaznike kursa obezbeđen je računar, softver neophodan za realizaciju nastave i nastavni materijal u elektronskoj formi. 
			</p>
			<h2 class="courseSubtitle">Sadržaj kursa i kompetencije koje obezbeđuje</h2>
            <h3>Modul 1. Osnove Java Programiranja</h3>
			<p>
                <ul>
					<li>Ponavljanje osnovnih koncepata strukturiranog programiranja</li>
                    <li>Korišćenje Eclipse okruženja</li>
                    <li>Poznavanje osnovnih koncepata objektnog programiranja (apstrakcija, generalizacija, polimorfizam)</li>
                    <li>Sposobnost programiranja osnovnih algoritamskih struktura</li>
                    <li>Sposobnost rada sa ulazom i izlazom (standardni ulaz/izlaz i fajl sistem)</li>
                    <li>Elementarni rad sa bazama podataka (osnove relacionog modela, SQL jezika i mehanizmi povezivanja Java aplikacije sa bazom podataka)</li>
                    <li>Korišćenje eksternih Java biblioteka</li>
                    <li>Korišćenje GIT sistema za kontrolu verzija programskog koda i timski rad</li>
                    <li>Korišćenje JUnit biblioteke za testiranje softvera</li>
                </ul>
            </p>
            <h3>Modul 2. Osnove veb programiranja</h3>
            <p>
                <ul>
                    <li>Poznavanje HTML 4 i HTML 5 koncepata i struktura</li>
                    <li>Poznavanje CSS koncepata i struktura</li>
                    <li>Korišćenje Eclipse Java EE okruženja sa akcentom na segment za web programiranje</li>
                    <li>Sposobnost korišćenja Apache Tomcat web servera (osnovni principi, postavljanje aplikacije u produkciju - deploy)</li>
                    <li>Poznavanje koncepata i tehnologija Java Servlet i Java Server Pages</li>
                    <li>Sposobnost programiranja Java web aplikacije koja koristi bazu podataka</li>
                    <li>Poznavanje programskog jezika JavaScript</li>
                    <li>Poznavanje JQuery i AJAX tehnologija</li>
                </ul>
            </p>
            <h3>Modul 3. Napredno veb programiranje</h3>
            <p>
                <ul>
                    <li>Poznavanje osnova Maven alata</li>
                    <li>Poznavanje MVC šablona</li>
                    <li>Poznavanje Dependency injection šablona</li>
                    <li>Poznavanje koncepata i načina korišćenja Spring frameworka</li>
                    <li>Sposobnost izrade jednostavnih Spring-baziranih veb aplikacija</li>
                    <li>Poznavanje osnova objektno-relacionog mapiranja</li>
                    <li>Korišćenje Spring Data JPA uz Hibernate implementaciju</li>
                    <li>Poznavanje REST koncepata</li>
                    <li>Sposobnost izrade REST servisa korišćenjem Spring frameworka</li>
                    <li>Korišćenje Bootstrap biblioteke</li>
                    <li>Poznavanje Data Transfer Object koncepta</li>
                    <li>Ovladavanje single-page application (SPA) konceptom</li>
                    <li>Korišćenje AngularJS frameworka za razvoj klijentskih front-end MVC aplikacija</li>
                </ul>
            </p>
            <h2 class="courseSubtitle">Završni ispit i sertifikacija</h2>
            <p>
                Na kraju kursa organizuje se završni ispit, koji obuhvata celokupno gradivo kursa. Po završetku kursa polaznicima se dodeljuje sertifikat o pohađanju ili uspešno završenom kursu, u zavisnosti od rezultata ostvarenih na završnom ispitu. Kurs je uspešno završen, ako polaznik na završnom ispitu ostvari najmanje 50% mogućih bodova. 
            </p>
            <h2 class="courseSubtitle">Trajanje i organizacija kursa</h2>
            <p>
                Ukupno trajanje kursa sa završnim testom je oko 3 meseca, u toku kojih se realizuje 90 časova nastave. Nastava je organizovana u 30 predavanja, od po 3 časa. Održavaju se 3 predavanja nedeljno. Kurs obuhvata tri modula, pri čemu svaki modul sadrži 30 časova (10 predavanja). 
            </p>
            <p>
               Na kraju svakog modula organizuje se poseban termin za ispit. Rezultati sa ispita nakon prvog i drugog modula, ne utiču na sertifikaciju i služe kao informacija polazniku u kojoj meri je savladao gradivo modula. Nakon trećeg modula organizuje se završni ispit, na osnovu kojeg se vrši sertifikacija. 
            </p>
            <h2 class="courseSubtitle">Cena</h2>
            <p>
            	Ukupna cena kursa iznosi <span class="priceSpan">600 evra</span> u dinarskoj protivvrednosti na dan plaćanja, uz mogućnost uplate cene kursa u dve rate.
            </p>
            {% include footnotes.html %}
		</div>
	</section>
    {% include team.html %}
    {% include location.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>