---
title:  Kurs Osnove Linux-a
course_id:  linux
extra_css:
  - /css/courses.css
---
<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="page-top" class="index">
    {% include navbar.html %}
    <section id="courses" class="courseDetails">
		<div class="container">
			<span class="fa-stack fa-5x courseIcon">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
            </span>
			<h1 class="courseTitle">Kurs Osnove Linux-a</h1>
            <p>
                Osnovni Linux kurs pruža uvodna znanja o Open source platformama i Linux operativnim sistemima sa fokusom na komandni interfejs - CLI. Na ovom kursu možete steći predznanje neophodno za uspešno praćenje nastave na naprednom Linux kursu.<a href="#footnote1">*</a></span>
            </p>
            <p>
                Materijal za kurs Osnove Linux-a (curriculum) se nalazi u interaktivnoj multimedijalnoj formi, i polazinicima je dostupan preko interneta. Kroz niz laboratorijskih vežbi koje se rade na računaru, stičete praktična znanja u radu sa Linux operativnim sistemima.
            </p>
            <p>
                Predavanja se sastoje iz kraćeg teoretskog dela, u kojem se polaznici upoznaju sa odgovarajućim konceptima i većeg broja zadataka, u kojima polaznici primenjuju naučene koncepte u praksi. Na kraju svakog predavanja polaznici dobijaju domaće zadatke, namenjene za utvrđivanje gradiva i sticanje samostalnosti u radu.
            </p>
            <p>
               Za svakog polaznika kursa obezbeđen je računar, softver neophodan za realizaciju nastave i nastavni materijal u elektronskoj formi.
            </p>
			<h2 class="courseSubtitle">Sadržaj kursa i kompetencije koje obezbeđuje</h2>
            <h3>Modul 1. Programski jezik Java</h3>
			<p>
                <ul>
                    <li>Spoznaja Linux-a kao operativnog sistema</li>   
                    <li>Osnove procesa odabira operativnog sistema</li>
                    <li>Osnove relacionih baza podataka (relacioni model podataka, SQL, objektno-relaciono mapiranje)</li>
                    <li>Osnove open-source softvera i osnove licenciranja</li>
                    <li>Osnove rada u Linux-u</li>
                    <li>Osnovne veštine u radu sa LInux komandnom linijom</li>
                    <li>Korišćenje help komandi</li>
                    <li>Osnove rada sa datotekama i direktorijumima</li>
                    <li>Pretraga i pronalaženje podataka u fajlovima</li>
                    <li>Osnovni koncepti pravljenja skripti</li>
                    <li>Upoznavanje sa osnovnim konceptima desktop i server kompjutera</li>
                    <li>Mesto čuvanja podataka u Linux-u</li>
                    <li>Upoznavanje sa osnovnim mrežnim podešavanjima</li>
                    <li>Upoznavanje sa različitim tipovima korisnika</li>
                    <li>Kreiranje korisnika i grupa na Linux-u</li>
                    <li>Upravljanje vlasništvom i privilegijama nad datotekama</li>
                    <li>Upoznavanje sa specijalnim datotekama i direktorijumima</li>
                </ul>
            </p>

            <h2 class="courseSubtitle">Završni ispit i sertifikacija</h2>
            <p>
            	Na kraju kursa organizuje se završni ispit, koji obuhvata celokupno gradivo kursa.
            </p>
            <p>
                Po završetku kursa polaznicima se dodeljuju sertifikati o pohađanju ili uspešno završenom kursu, u zavisnosti od rezultata ostvarenih na završnom ispitu.
            </p>
            <p>
                Oblasti koje pokriva osnovni Linux kurs u potpunosti odgovaraju zahtevanim oblastima za dobijanje LPI LE (<a href="http://www.lpi.org/our-certifications/linux-essentials-overview" target="_blank">Linux Professional Institute - Linux Essentials</a>) seritifikata. Sertifikacioni ispit (010-150) se polaže u ovlašćenim Pearson VUE testing centrima i nije uključen u cenu kursa.
            </p>
            <h2 class="courseSubtitle">Trajanje i organizacija kursa</h2>
            <p>
               Ukupno trajanje kursa je 45 časova. Nastava je organizovana u 15 termina po 3 časa, raspoređenih u 7,5 nedelja (2 termina nedeljno), plus završni ispit na kraju 8. nedelje. 
            </p>
            <h2 class="courseSubtitle">Cena</h2>
            <p>
                Ukupna cena kursa iznosi <span class="priceSpan">280 evra</span>, u dinarskoj protivvrednosti, po srednjem kursu Narodne banke Srbije, na dan plaćanja.
            </p>
            {% include footnotes.html %}
		</div>
	</section>
    {% include team.html %}
    {% include location.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>