---
title:  Osnove Programiranja
course_id:  osnove
extra_css:
  - /css/courses.css
---
<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="page-top" class="index">
    {% include navbar.html %}
    <section id="courses" class="courseDetails">
		<div class="container">
			<span class="fa-stack fa-5x courseIcon">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
            </span>
			<h1 class="courseTitle">Osnove programiranja</h1>
			<p>
				Kurs je namenjen onima koji žele da steknu predznanje neophodno za kvalitetno praćenje nastave na naprednim kursevima programiranja koje organizujemo (<a href="/jwd/" target="_blank">Java web development</a>, <a href="/frontenddevelopment/" target="_blank">Front-end web development</a>, <a href="/testdevelopment/" target="_blank">Test Development</a>, <a href="/androidappdevelopment/" target="_blank">Android Development</a> i <a href="/dotnet/" target="_blank">.NET Web Development kurs</a>).<span class="priceSpan"><a href="#footnote1">*</a></span>
            </p>
            <p>
				Svaki termin nastave se sastoji iz kraćeg teoretskog dela, u kojem se polaznici upoznaju sa odgovarajućim konceptima, i većeg broja primera i zadataka, kroz koje polaznici primenjuju naučene koncepte u praksi. Na kraju svakog predavanja polaznici dobijaju domaće zadatke namenjene za utvrđivanje gradiva i sticanje samostalnosti u radu. Za polaznike kursa obezbeđen je računar, softver neophodan za realizaciju nastave i nastavni materijal u elektronskoj formi.
            </p>
			<h2 class="courseSubtitle">Sadržaj kursa i kompetencije koje obezbeđuje</h2>
			<p>
                <ul>
                    <li>Korišćenje Eclipse okruženja</li>
                    <li>Poznavanje osnova Java sintakse - rad sa promenljivima, korišćenje aritmetičkih, relacionih i logičkih operatora</li>
                    <li>Sposobnost upravljanja tokom programa - poznavanje uslovnih izraza i rada sa ciklusima
Korišćenje funkcija</li>
                    <li>Sposobnost rada sa nizovima podataka</li>
                    <li>Sposobnost programiranja osnovnih algoritamskih struktura</li>
                    <li>Korišćenje ulazno - izlaznog podsistema iz Java programa</li>
                    <li>Poznavanje osnovnih koncepata objektnog programiranja</li>
                </ul>
            </p>
            <h2 class="courseSubtitle">Završni ispit i sertifikacija</h2>
            <p>
            	Na kraju kursa organizuje se završni ispit, koji obuhvata celokupno gradivo kursa. Po završetku kursa polaznicima se dodeljuje sertifikat o pohađanju ili uspešno završenom kursu, u zavisnosti od rezultata ostvarenih na završnom ispitu. Kurs je uspešno završen, ako polaznik na završnom ispitu ostvari najmanje 50% mogućih bodova. 
            </p>
            <h2 class="courseSubtitle">Trajanje</h2>
            <p>
                Ukupno trajanje kursa sa završnim testom je oko mesec i po dana. Kurs se sastoji od 36 časova. Nastava je organizovana u 18 predavanja, od po 2 časa. Održavaju se 3 predavanja nedeljno.
            </p>
            <h2 class="courseSubtitle">Cena</h2>
            <p>
            	Ukupna cena kursa iznosi <span class="priceSpan">240 evra</span> (u dinarskoj protivvrednosti na dan plaćanja).
            </p>
            {% include footnotes.html %}
		</div>
	</section>
    {% include team.html %}
    {% include location.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
