---
title:  Test Development
course_id:  test
extra_css:
  - /css/courses.css
---
<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="page-top" class="index">
    {% include navbar.html %}
    <section id="courses" class="courseDetails">
		<div class="container">
			<span class="fa-stack fa-5x courseIcon">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-bug fa-stack-1x fa-inverse"></i>
            </span>
			<h1 class="courseTitle">Test Development</h1>
			<p>
                Kurs je namenjen onima koji žele da steknu kompetencije junior developera za testiranje savremenih veb aplikacija<a href="#footnote1">*</a></span>. Polaznici koji ostvare više od 65% bodova na završnom testu, dobijaju mogućnost da pristupe procesu selekcije za zaposlenje u kompaniji Levi9 IT Services. Polaznicima koji se zaposle u kompaniji Levi9, vraća se novac uplaćen za pohađanje kursa. 
            </p>
            <p>
                Za pohađanje kursa poželjno je da polaznici imaju osnovna predznanja iz programiranja u programskim jezicima visokog nivoa (Java, C++, C# i slično). Kao pomoć u proceni programerskih veština interesenata za kurs, organizujemo besplatna preliminarna testiranja. Ukoliko znate da nemate predznanje iz programiranja ili to ustanovite na preliminarnom testiranju, možete se opredeliti za pohađanje kursa <a href="/osnoveprogramiranja/" target="_blank">Osnove programiranja</a>, koji organizujemo kao pripremu za uspešno praćenje nastave na Test Development kursu.
            </p>
            <p>
                Kurs Test Development je podeljen na dve logičke celine, odnosno, modula: Osnove testiranja i serversko testiranje, i Klijentsko i <i>end-to-end</i> testiranje.

                Svaki termin nastave se sastoji iz kraćeg teoretskog dela, u kojem se polaznici upoznaju sa odgovarajućim konceptima i većeg broja primera i zadataka, kroz koje polaznici primenjuju naučene koncepte u praksi. Na kraju svakog predavanja polaznici dobijaju domaće zadatke, namenjene za utvrđivanje gradiva i sticanje samostalnosti u radu. 

                Za polaznike kursa obezbeđen je računar, softver neophodan za realizaciju nastave i nastavni materijal u elektronskoj formi. 
			</p>
			<h2 class="courseSubtitle">Sadržaj kursa i kompetencije koje obezbeđuje</h2>
            <h3>Modul 1. Osnove testiranja i serversko testiranje</h3>
			<p>
                <ul>
                    <li>Razumevanje osnovnih tipova testiranja</li>
                    <li>Sposobnost dizajniranja test scenarija</li>
                    <li>Sposobnost sastavljanja test izveštaja</li>
                    <li>Poznavanje osnovnih koncepata veb aplikacija, poznavanje principa klijent-server komunikacije, uloge web browser-a i osnova HTTP protokola</li>
                    <li>Korišćenje alata za razvoj i instalaciju veb aplikacija (Eclipse, Apache Maven, Git, Jenkins)</li>
                    <li>Sposobnost testiranja funkcionalnosti veb aplikacija korišćenjem Postman alata</li>
                    <li>Poznavanje osnovnih koncepata baza podataka</li>
                    <li>Poznavanje koncepata objektnog programiranja u programskom jeziku Java</li>
                    <li>Razumevanje koncepata i sposobnost programiranja jediničnih testova u programskom jeziku Java</li>
                    <li>Poznavanje biblioteka TestNG i Jbehave</li>
                </ul>
            </p>
            <h3>Modul 2. Klijentsko i <i>end-to-end</i> testiranje</h3>
            <p>
                <ul>
                    <li>Poznavanje koncepata HTML jezika</li>
                    <li>Poznavanje koncepata CSS jezika</li> 
                    <li>Poznavanje osnovnih koncepata XML jezika i XPath sintakse</li>
                    <li>Poznavanje koncepata JavaScript jezika</li>
                    <li>Poznavanje osnova AngularJS radnog okvira</li>
                    <li>Poznavanje Page Object šablona</li>
                    <li>Sposobnost pisanja page klasa za potrebe tesitanja</li>
                    <li>Poznavanje koncepata end-to-end testiranja</li>
                    <li>Sposobnost programiranja Selenium testova u programskom jeziku Java</li>
                    <li>Sposobnost konfiguracije i pripreme sistema za end-to-end testiranje</li>
                    <li>Sposobnost programiranja klijentskih jediničnih testova</li>
                    <li>Sposobnost praćenja izvršavanja (debugging) end-to-end testova</li>
                    <li>Sposobnost programiranja end-to-end testova u Protractor test</li> radnom okviru
                </ul>
            </p>
            <h2 class="courseSubtitle">Završni ispit i sertifikacija</h2>
            <p>
                Na kraju kursa organizuje se završni ispit, koji obuhvata celokupno gradivo kursa. Po završetku kursa polaznicima se dodeljuje sertifikat o pohađanju ili uspešno završenom kursu, u zavisnosti od rezultata ostvarenih na završnom ispitu. Kurs je uspešno završen, ako polaznik na završnom ispitu ostvari najmanje 50% mogućih bodova. 
            </p>
            <h2 class="courseSubtitle">Trajanje i organizacija kursa</h2>
            <p>
                Ukupno trajanje kursa sa završnim testom je oko 3 meseca, u toku kojih se realizuje 90 časova nastave. Nastava je organizovana u 30 predavanja, od po 3 časa. Održavaju se 3 predavanja nedeljno. Kurs obuhvata dva modula, pri čemu svaki modul sadrži 45 časova (15 predavanja). 
            </p>
            <p>
               Na kraju svakog modula organizuje se poseban termin za ispit. Rezultati sa ispita nakon prvog modula ne utiču na sertifikaciju i služe kao informacija polazniku u kojoj meri je savladao gradivo modula. Nakon drugog modula organizuje se završni ispit, na osnovu kojeg se vrši sertifikacija. 
            </p>
            <h2 class="courseSubtitle">Cena</h2>
            <p>
            	Ukupna cena kursa iznosi <span class="priceSpan">600 evra</span> u dinarskoj protivvrednosti na dan plaćanja, uz mogućnost uplate cene kursa u dve rate.
            </p>
            {% include footnotes.html %}
		</div>
	</section>
    {% include team.html %}
    {% include location.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
