---
title:  Veb programiranje
course_id:  webp
extra_css:
  - /css/courses.css

# PRIMER FUSNOTA SPECIFICNIH ZA STRANICU:
# footnotes:
#  - id: footnote1
#    text: Prva fusnota.
#  - id: footnote2
#  - text: Druga fusnota.
---
<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="page-top" class="index">
    {% include navbar.html %}
    <section id="courses" class="courseDetails">
		<div class="container">
			<span class="fa-stack fa-5x courseIcon">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
            </span>
			<h1 class="courseTitle">Obuka iz Veb programiranja</h1>
			<p>
				Program obuke je koncipiran tako da pruža osnovno znanje programiranja kao i kompetencije iz veb programiranja tipično zahtevane na IT tržištu. Cilj obuke je da polaznici kroz obrazovanje u trajanju od oko osam meseci steknu neophodne kompetencije za zaposlenje u IT kompanijama na poslovima programera veb aplikacija.  
            </p>
            <p>
                Obuka se sastoji od uvodnog i naprednog modula. Ukupno trajanje jednog modula je oko 4 meseca. Oba modula imaju po 90 školskih časova, u trajanju od po 45 minuta. Nastava se izvodi u dva termina nedeljno, pri čemu jedan termin ima tri školska časa. 
            </p>
            <p>
                Svaki termin nastave se sastoji iz kraćeg teoretskog dela, u kojem se polaznici upoznaju sa odgovarajućim konceptima i većeg broja primera i zadataka, kroz koje polaznici primenjuju naučene koncepte u praksi. Na kraju svakog predavanja polaznici dobijaju domaće zadatke, namenjene za utvrđivanje gradiva i sticanje samostalnosti u radu. 

                Za polaznike je obezbeđen računar, softver neophodan za realizaciju nastave i nastavni materijal u elektronskoj formi. 
			</p>
			<h2 class="courseSubtitle">Sadržaj</h2>
            <h3>Uvodni modul</h3>
			<p>
                <ul>
					<li>
                        Osnovni koncepti programiranja (tipovi i strukture podataka, kontrola toka programa, funkcije, algoritmi, ulazno-izlazni podsistem) – programski jezik Java
                    </li>
                    <li>
                        Objektno orijentisano programiranje (osnovni koncepti objektnog programiranja, veze između klasa, nasleđivanje, polimorfizam, objektno modelovanje, UML i dizajn šabloni) – programski jezik Java
                    </li>
                    <li>
                        Baze podataka (osnovni koncepti relacionih baza podataka, modelovanje baza podataka) – programski jezik SQL 
                    </li>                    
                    <li>
                        Osnove veba (HTTP protokol, statički i dinamički elementi veb stranica) – HTML, CSS, JavaScript
                    </li>
                </ul>
            </p>
            <h3>Napredni modul</h3>
            <p>
                <ul>
                    <li>
                        Softverski alati za upravljanje projektom (podrška timskom radu i verzioniranje koda) – softverski alat GIT
                    </li>
                    <li>
                        Napredno Java programiranje (injekcija zavisnosti, upravljanje projektom, integracija sa relacionom bazom podataka, objektno-relaciono mapiranje) – radni okvir Spring, softverski alat Maven, JPA specifikacija
                    </li>
                    <li>
                        Programiranje serverskog dela veb aplikacije (arhitektura višeslojne veb aplikacije, REST servisi) – radni okvir Spring 
                    </li>
                    <li>
                        Programiranje klijentskog dela veb aplikacije (rukovanje stablom HTML stranice, asinhroni pozivi, napredno JavaScript programiranje) – biblioteka jQuery, radni okvir AngularJS
                    </li>
                    <li>
                        Integracija klijentskog i serverskog dela veb aplikacije – Spring i AngularJS
                    </li>
                </ul>
            </p>
           <h2 class="courseSubtitle">Završni ispit i sertifikacija</h2>           
            <p>
                Na kraju obuke se organizuje završni ispit, koji obuhvata celokupno gradivo kursa. Po završetku obuke se polaznicima dodeljuje sertifikat o pohađanju ili uspešno završenoj obuci, u zavisnosti od rezultata ostvarenih na završnom ispitu. Kurs je uspešno završen, ako polaznik na završnom ispitu ostvari najmanje 50% bodova. 
            </p>
            <h2 class="courseSubtitle">Procedura upisa</h2>
            <p>
               Zbog ograničenog broja mesta, biće izvršena selekcija prijavljenih kandidata. Pri prijavi je potrebno poslati CV, nakon čega ćete dobiti poziv na razgovor. Konačan odabir polaznika kursa vrši se oko mesec dana pre početka kursa. 

                Za prijavu za obuku nije neophodno predznanje programiranja.
            </p>
            
            <h2 class="courseSubtitle">Kalendar kursa</h2>
            <p>
                <h3>Uvodni modul</h3>
                <p>septembar 2017. - decembar 2017. </p>

                <h3>Napredni modul</h3>
                <p>februar 2018. - jun 2018. </p>

            </p>

            <h2 class="courseSubtitle">Cena</h2>
            <p>
                Cena pohađanja obuke je  <span class="priceSpan">1200 evra</span> u dinarskoj protivvrednosti.
                
                Iznos je moguće platiti u četiri rate od po 300 evra.
            </p>
            {% include footnotes.html %}
		</div>
	</section>
    {% include team.html %}
    {% include location.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>