    <section id="announcements">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Obaveštenja</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/obavestenja/which_course_2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Potrebne su Vam dodatne informacije?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted text-justified">Možete zakazati razgovor kod nas kako bismo Vam pružili sve potrebne informacije. Prijavite se za razgovor na e-mail vpobuka@gmail.com</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/obavestenja/intenzivni-small.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Intenzivni kursevi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted text-justified">Katedra za informatiku učestvuje u izvođenju i intenzivnih kurseva razvoja aplikacija, testiranja i sistemske administracije. Više informacija možete naći <a href="http://ftninformatika.com" target="_blank">ovde</a>.</p>
                                </div>
                            </div>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
    </section>