<section id="prijava">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Prijava</h2>
                <p class="text-muted text-justified large">Naredna grupa polaznika obuku počinje u septembru ove godine. Pri prijavi je potrebno poslati CV, nakon čega ćete dobiti poziv na razgovor. Zbog ograničenog broja mesta, biće izvršena selekcija prijavljenih kandidata na osnovu CV-a. Selekcija se vrši oko mesec dana pre početka obuke.</p>

                 <a href="mailto:vpobuka@gmail.com?Subject=Prijava%20za%20obuku%20iz%20veb%20programiranja" class="page-scroll btn btn-xl">Prijavite se</a>
            </div>
        </div>        
        
    </div>
</section>