<section class="company">
  <div class="main">
    <div class="title">Zaposlenje</div>
    <div class="text">
      Program realizujemo u saradnji sa IT kompanijama koje pružaju šansu za
      praksu i zaposlenje polaznicima obuke.
    </div>
    <div class="container-company">
      
      {% for c in site.companies %}
      <div class="frame">
        <div id="{{c.id}}" class="logo"></div>
        <div class="title">{{c.title}}</div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
