<section class="company">
    <div class="main">
      <div class="title">Zaposlenje</div>
      <div class="text">
        Program realizujemo u saradnji sa IT kompanijama koje pružaju šansu za
        praksu i zaposlenje polaznicima obuke.
      </div>
      <div class="container-company">
        <div class="frame">
          <div id="leviNine" class="logo"></div>
          <div class="title">Levi Nine</div>
        </div>
        <div class="frame">
          <div id="execom" class="logo"></div>
          <div class="title">Execom</div>
        </div>
        <div class="frame">
          <div id="vivify" class="logo"></div>
          <div class="title">Vivify</div>
        </div>
        <div class="frame">
          <div id="exlrt" class="logo"></div>
          <div class="title">EXLRT</div>
        </div>
        <div class="frame">
          <div id="itEngine" class="logo"></div>
          <div class="title">It Engine</div>
        </div>
        <div class="frame">
          <div id="comData" class="logo"></div>
          <div class="title">ComData</div>
        </div>
        <div class="frame">
          <div id="mi" class="logo"></div>
          <div class="title">M&I System</div>
        </div>
        <div class="frame">
          <div id="synechron" class="logo"></div>
          <div class="title">Synechron</div>
        </div>
        <div class="frame">
          <div id="naovis" class="logo"></div>
          <div class="title">Naovis</div>
        </div>
        <div class="frame">
          <div id="intens" class="logo"></div>
          <div class="title">Intens</div>
        </div>
        <div class="frame">
          <div id="libraFire" class="logo"></div>
          <div class="title">LibraFire</div>
        </div>
      </div>
    </div>
  </section>