<!--
  <section  class="contact">
    <div class="par">
      <div class="main">
        <div class="title">KONTAKT</div>
        <div class="text">
          Centar za obrazovanje u oblasti informaciono komunikacionih tehnologija
          Aleph ICT
        </div>
      </div>
    </div>

    <div class="container-big">
      <div class="information-form">
        <div class="information">
          <div class="container">
            <div class="logo">
              <div class="img"></div>
              <div class="text">ALEPH</div>
            </div>
            <div class="mail">
              <div class="title">Mejl adresa:</div>
              <div class="text">vpobuka@gmail.com</div>
            </div>
            <div class="address">
              <div class="title">Adresa:</div>
              <div class="text">Bulevar Mihajla Pupina 4a, Novi Sad</div>
              <div class="text">Zgrada Univerziteta Singidunum</div>
            </div>
            <div class="social">
              <div class="facebook"></div>
              <div class="twiter"></div>
              <div class="google"></div>
            </div>
          </div>
        </div>
        <div class="forms-1">
          <div class="form">
            <div class="container">
              <div class="title">Vaše ime i prezime</div>
              <input type="text" />
            </div>
          </div>
          <div class="form">
            <div class="container">
              <div class="title">Vaš broj telefona</div>
              <input type="text" />
            </div>
          </div>
          <div class="form">
            <div class="container">
              <div class="title">Vaša mejl adresa</div>
              <input type="text" />
            </div>
          </div>
        </div>
        <div class="forms-2">
          <div class="form">
            <div class="container">
              <div class="title">Poruka</div>
              <textarea></textarea>
            </div>
          </div>
          <div class="button"><button>POŠALJI</button></div>
        </div>
      </div>
      <div class="copyright"><div class="text">Copyright © Aleph 2016</div></div>
    </div>
  </section>

  <section class="contact-tablet">
    <div class="par">
      <div class="main">
        <div class="title">KONTAKT</div>
        <div class="text">
          Centar za obrazovanje u oblasti informaciono komunikacionih tehnologija
          Aleph ICT
        </div>
      </div>
    </div>
    <div class="container-big">
      <div class="information-form">
        <div class="forms-1">
          <div class="form">
            <div class="container">
              <div class="title">Vaše ime i prezime</div>
              <input type="text" />
            </div>
          </div>
          <div class="form">
            <div class="container">
              <div class="title">Vaš broj telefona</div>
              <input type="text" />
            </div>
          </div>
          <div class="form">
            <div class="container">
              <div class="title">Vaša mejl adresa</div>
              <input type="text" />
            </div>
          </div>
        </div>
        <div class="forms-2">
          <div class="form">
            <div class="container">
              <div class="title">Poruka</div>
              <textarea></textarea>
            </div>
          </div>
          <div class="button"><button>POŠALJI</button></div>
        </div>
        <div class="information">
          <div class="container">
            <div class="logo">
              <div class="img"></div>
              <div class="text"><span>ALEPH</span></div>
            </div>
            <div class="mail">
              <div class="title">Mejl adresa:</div>
              <div class="text">vpobuka@gmail.com</div>
            </div>
            <div class="address">
              <div class="title">Adresa:</div>
              <div class="text">Bulevar Mihajla Pupina 4a, Novi Sad</div>
              <div class="text">Zgrada Univerziteta Singidunum</div>
            </div>
            <div class="social">
              <div class="facebook"></div>
              <div class="twiter"></div>
              <div class="google"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright"><div class="text">Copyright © Aleph 2016</div></div>
    </div>
  </section>

  <section class="contact-mob">
    <div class="par">
      <div class="main">
        <div class="title">KONTAKT</div>
        <div class="text">
          Centar za obrazovanje u oblasti informaciono komunikacionih tehnologija
          Aleph ICT
        </div>
      </div>
    </div>
    <div class="container-big">
      <div class="information-form">
        <div class="forms-1">
          <div class="form">
            <div class="container">
              <div class="title">Vaše ime i prezime</div>
              <input type="text" />
            </div>
          </div>
          <div class="form">
            <div class="container">
              <div class="title">Vaš broj telefona</div>
              <input type="text" />
            </div>
          </div>
          <div class="form">
            <div class="container">
              <div class="title">Vaša mejl adresa</div>
              <input type="text" />
            </div>
          </div>
        </div>
        <div class="forms-2">
          <div class="form">
            <div class="container">
              <div class="title">Poruka</div>
              <textarea></textarea>
            </div>
          </div>
          <div class="button"><button>POŠALJI</button></div>
        </div>
        <div class="information">
          <div class="container">
            <div class="logo">
              <div class="img"></div>
              <div class="text"><span>ALEPH</span></div>
            </div>
            <div class="mail">
              <div class="title">Mejl adresa:</div>
              <div class="text">vpobuka@gmail.com</div>
            </div>
            <div class="address">
              <div class="title">Adresa:</div>
              <div class="text">Bulevar Mihajla Pupina 4a, Novi Sad</div>
              <div class="text">Zgrada Univerziteta Singidunum</div>
            </div>
            <div class="social">
              <div class="facebook"></div>
              <div class="twiter"></div>
              <div class="google"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright"><div class="text">Copyright © Aleph 2016</div></div>
    </div>
  </section>
-->

<section class="contact">
  <div class="par">
    <div class="main">
      <div class="title">KONTAKT</div>
      <div class="text">
        Centar za obrazovanje u oblasti informaciono komunikacionih tehnologija
        Aleph ICT
      </div>
    </div>
  </div>
  <div class="container-big">
    <div class="information-form">
      <div class="information">
        <div class="container">
          <div class="logo">
            <div class="img"></div>
            <div class="text">ALEPH</div>
          </div>
          <div class="mail">
            <div class="title">Mejl adresa:</div>
            <div class="text">vpobuka@gmail.com</div>
          </div>
          <div class="address">
            <div class="title">Adresa:</div>
            <div class="text">Bulevar Mihajla Pupina 4a, Novi Sad</div>
            <div class="text">Zgrada Univerziteta Singidunum</div>
          </div>
          <div class="social">
            <div class="facebook"></div>
            <!-- <div class="twiter"></div> -->
            <!-- <div class="google"></div> -->
          </div>
        </div>
      </div>
      <div class="container-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2808.7403982189626!2d19.842185650989776!3d45.25304207899648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b1069795c3951%3A0xe6fd8421ace0cf06!2z0KPQvdC40LLQtdGA0LfQuNGC0LXRgiDQodC40L3Qs9C40LTRg9C90YPQvA!5e0!3m2!1ssr!2srs!4v1483514338109"
          frameborder="0"
          style="border:0"
          allowfullscreen
          class="google_map"
        ></iframe>
      </div>
    </div>
    <div class="copyright">
      <span class="counter">
        <img
          src="http://www.quick-counter.net/aip.php?tp=di&tz=Europe%2FParis"
          alt="HTML hit counter - Quick-counter.net"
          border="0"
          title="Brojač poseta: Danas / Ukupno"
        />
      </span>
      <div class="text">Copyright © Aleph 2016</div>
    </div>
  </div>
</section>

<section class="contact-tablet">
  <div class="par">
    <div class="main">
      <div class="title">KONTAKT</div>
      <div class="text">
        Centar za obrazovanje u oblasti informaciono komunikacionih tehnologija
        Aleph ICT
      </div>
    </div>
  </div>
  <div class="container-big">
    <div class="information-form">
      <div class="information">
        <div class="container">
          <div class="logo">
            <div class="img"></div>
            <div class="text"><span>ALEPH</span></div>
          </div>
          <div class="mail">
            <div class="title">Mejl adresa:</div>
            <div class="text">vpobuka@gmail.com</div>
          </div>
          <div class="address">
            <div class="title">Adresa:</div>
            <div class="text">Bulevar Mihajla Pupina 4a, Novi Sad</div>
            <div class="text">Zgrada Univerziteta Singidunum</div>
          </div>
          <div class="social">
            <div class="facebook"></div>
            <!--
              <div class="twiter"></div>
              <div class="google"></div>
            -->
          </div>
        </div>
      </div>
      <div class="container-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2808.7403982189626!2d19.842185650989776!3d45.25304207899648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b1069795c3951%3A0xe6fd8421ace0cf06!2z0KPQvdC40LLQtdGA0LfQuNGC0LXRgiDQodC40L3Qs9C40LTRg9C90YPQvA!5e0!3m2!1ssr!2srs!4v1483514338109"
          frameborder="0"
          style="border:0"
          allowfullscreen
          class="google_map"
        ></iframe>
      </div>
    </div>
    <div class="copyright">
      <span class="counter">
        <img
          src="http://www.quick-counter.net/aip.php?tp=di&tz=Europe%2FParis"
          alt="HTML hit counter - Quick-counter.net"
          border="0"
          title="Brojač poseta: Danas / Ukupno"
        />
      </span>
      <div class="text">Copyright © Aleph 2016</div>
    </div>
  </div>
</section>

<section class="contact-mob">
  <div class="par">
    <div class="main">
      <div class="title">KONTAKT</div>
      <div class="text">
        Centar za obrazovanje u oblasti informaciono komunikacionih tehnologija
        Aleph ICT
      </div>
    </div>
  </div>
  <div class="container-big">
    <div class="information-form">
      <div class="forms-1">
        <div class="form">
          <div class="container">
            <div class="title">Vaše ime i prezime</div>
            <input type="text" />
          </div>
        </div>
        <div class="form">
          <div class="container">
            <div class="title">Vaš broj telefona</div>
            <input type="text" />
          </div>
        </div>
        <div class="form">
          <div class="container">
            <div class="title">Vaša mejl adresa</div>
            <input type="text" />
          </div>
        </div>
      </div>
      <div class="forms-2">
        <div class="form">
          <div class="container">
            <div class="title">Poruka</div>
            <textarea></textarea>
          </div>
        </div>
        <div class="button"><button>POŠALJI</button></div>
      </div>
      <div class="information">
        <div class="container">
          <div class="logo">
            <div class="img"></div>
            <div class="text"><span>ALEPH</span></div>
          </div>
          <div class="mail">
            <div class="title">Mejl adresa:</div>
            <div class="text">vpobuka@gmail.com</div>
          </div>
          <div class="address">
            <div class="title">Adresa:</div>
            <div class="text">Bulevar Mihajla Pupina 4a, Novi Sad</div>
            <div class="text">Zgrada Univerziteta Singidunum</div>
          </div>
          <div class="social">
            <div class="facebook"></div>
            <div class="twiter"></div>
            <div class="google"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright"><div class="text">Copyright © Aleph 2016</div></div>
  </div>
</section>
