<section class="course">
  <div class="main">
    <div class="introduction">
      <div class="ornament"><hr /></div>
      <div class="title">Program obuke</div>
      <div class="text">
        Obuka omogućuje sticanje bazičnih znanja iz programiranja, softverskog
        inženjerstva i veb programiranja, tipično zahtevana na IT tržištu. Obuka
        se sastoji iz dva dela - uvodnog i naprednog modula. Ukupno trajanje
        jednog modula je oko 4 meseca. Oba modula imaju po 90 školskih časova, a
        nastava se izvodi u dva termina nedeljno. Termin počinje u 18h i sastoji
        se od 3 časa. Nastava se izvodi u računarskoj učionici i za svakog
        polaznika je obezbeđen računar.
      </div>
    </div>
    <div class="infographic">
      <div class="section-basic">
        <div class="left"><div class="short">Februar, 2019.</div></div>
        <div class="center">
          <div class="left">
            <div class="stop"></div>
            <div class="dot"></div>
          </div>
          <div id="level-start" class="icon"></div>
        </div>
        <div class="right"><div class="short">POČETAK UVODNOG MODULA</div></div>
      </div>
      <div class="section-basic">
        <div class="left">
          <div class="long">
            <div class="title">PROCEDURALNO PROGRAMIRANJE</div>
            <div class="text">
              Tipovi i strukture podataka, kontrola toka programa, funkcije,
              algoritmi, ulazno-izlazni podsistem - programski jezik Java
            </div>
          </div>
        </div>
        <div class="center">
          <div class="left">
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          <div id="level-basicprogramming" class="icon"></div>
        </div>
        <div class="right"></div>
      </div>
      <div class="section-basic">
        <div class="left"></div>
        <div class="center">
          <div class="left">
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          <div id="level-objectprogramming" class="icon"></div>
        </div>
        <div class="right">
          <div class="important">
            <div class="title">OBJEKTNO PROGRAMIRANJE</div>
            <div class="text">
              Osnovni koncepti objektnog programiranja, veze između klasa,
              nasleđivanje, polimorfizam, objektno modelovanje, UML i dizajn
              šabloni – programski jezik Java
            </div>
          </div>
        </div>
      </div>
      <div class="section-basic">
        <div class="left">
          <div class="long">
            <div class="title">BAZE PODATAKA</div>
            <div class="text">
              Osnovni koncepti relacionih baza podataka, Modelovanje baza
              podataka - programski jezik SQL
            </div>
          </div>
        </div>
        <div class="center">
          <div class="left">
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          <div id="level-database" class="icon"></div>
        </div>
        <div class="right"></div>
      </div>
      <div class="section-horizontal">
        <div class="container-information">
          <div class="informations">
            <div class="title">OSNOVE VEBA</div>
            <div class="text">
              HTTP protokol, statički i dinamički elementi veb stranica - HTML,
              CSS, JavaScript
            </div>
          </div>
        </div>

        <div class="container-icons">
          <div class="icons">
            <div id="level-html" class="icon-1"></div>
            <div id="level-css" class="icon-2"></div>
            <div id="level-javascript" class="icon-3"></div>
            <div id="level-startsecond" class="icon-4"></div>
            <div class="dot-ornament-1"></div>
            <div class="dot-ornament-2"></div>
            <div class="dot-ornament-3"></div>
          </div>
        </div>

        <div class="left-top">
          <div class="dot-top"><div class="dot"></div></div>
          <div class="dot-left"><div class="dot"></div></div>
          <div class="dot-bottom"><div class="dot"></div></div>
        </div>
        <div class="right-top">
          <div class="dot-bottom"><div class="dot"></div></div>
        </div>
        <div class="left-bottom"></div>
        <div class="right-bottom">
          <div class="dot-right"><div class="dot"></div></div>
          <div class="dot-bottom"><div class="dot"></div></div>
        </div>
        <div class="bottom-bottom">
          <div class="dot-right"><div class="dot"></div></div>
        </div>
      </div>
      <div class="section-basic after-horizontal ">
        <div class="left">
          <div class="long">
            <div class="title">ALATI ZA UPRAVLJANJE PROJEKTOM</div>
            <div class="text">
              Upravljanje verzijama i timski rad - Git, Izgradnja aplikacije -
              Maven, npm
            </div>
          </div>
        </div>
        <div class="center">
          <div class="left">
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          <div id="level-git" class="icon"></div>
        </div>
        <div class="right"></div>
      </div>
      <div class="section-basic">
        <div class="left"></div>
        <div class="center">
          <div class="left">
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          <div id="level-spring" class="icon"></div>
        </div>
        <div class="right">
          <div class="long">
            <div class="title">SERVERSKI DEO VEB APLIKACIJA</div>
            <div class="text">
              Spring radni okvir, objektno-relaciono mapiranje - JPA
              specifikacija, REST servisi
            </div>
          </div>
        </div>
      </div>
      <div class="section-basic">
        <div class="left">
          <div class="long">
            <div class="title">KLIJENTSKI DEO VEB APLIKACIJA</div>
            <div class="text">
              Rukovanje stablom HTML stranice, asinhroni pozivi, napredno
              JavaScript programiranje – biblioteka jQuery, radni okvir Angular
            </div>
          </div>
        </div>
        <div class="center">
          <div class="left">
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          <div id="level-angular" class="icon"></div>
        </div>
        <div class="right"></div>
      </div>
    </div>
    <div class="infographic-end">
      <div class="container">
        <div class="section-basic">
          <div class="left"></div>
          <div class="center">
            <div class="left">
              <div class="dot"></div>
              <div class="stop"></div>
            </div>
            <div id="level-test" class="icon"></div>
          </div>
          <div class="right"></div>
          <div class="finish">
            <div class="title">ZAVRŠNI TEST</div>
            <div class="text">
              Na kraju obuke se organizuje završni ispit, koji obuhvata
              celokupno gradivo kursa. Po završetku obuke se polaznicima
              dodeljuje sertifikat o pohađanju ili uspešno završenoj obuci, u
              zavisnosti od rezultata ostvarenih na završnom ispitu. Kurs je
              uspešno završen, ako polaznik na završnom ispitu ostvari najmanje
              50% bodova.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="course-mob">
  <div class="introduction">
    <div class="ornament"><hr /></div>
    <div class="title">Program obuke</div>
    <div class="text">
      Obuka omogućuje sticanje bazičnih znanja iz programiranja, softverskog
      inženjerstva i veb programiranja, tipično zahtevana na IT tržištu. Obuka
      se sastoji iz dva dela - uvodnog i naprednog modula. Ukupno trajanje
      jednog modula je oko 4 meseca. Oba modula imaju po 90 školskih časova, a
      nastava se izvodi u dva termina nedeljno. Termin počinje u 18h i sastoji
      se od 3 časa. Nastava se izvodi u računarskoj učionici i za svakog
      polaznika je obezbeđen računar.
    </div>
  </div>
  <div class="infographic">
    <div class="level-start">
      <div class="container-text">
        <div class="title"><div class="t">Februar, 2018.</div></div>
        <div class="text">POČETAK UVODNOG MODULA</div>
      </div>
      <div class="container-icon">
        <div class="left"></div>
        <div class="right dot"></div>
        <div id="level-startfirst" class="icon"></div>
      </div>
    </div>
    <div class="level">
      <div class="container-text right-dot">
        <div class="title">PROCEDURALNO PROGRAMIRANJE</div>
        <div class="text">
          Tipovi i strukture podataka, kontrola toka programa, funkcije,
          algoritmi, ulazno-izlazni podsistem - programski jezik Java
        </div>
      </div>
      <div class="container-icon">
        <div class="left dot"></div>
        <div class="right dot"></div>
        <div id="level-basicprogramming" class="icon"></div>
      </div>
    </div>
    <div class="level">
      <div class="container-text left-dot">
        <div class="title">OBJEKTNO PROGRAMIRANJE</div>
        <div class="text">
          Osnovni koncepti objektnog programiranja, veze između klasa,
          nasleđivanje, polimorfizam, objektno modelovanje, UML i dizajn šabloni
          – programski jezik Java.
        </div>
      </div>
      <div class="container-icon">
        <div class="left dot"></div>
        <div class="right dot"></div>
        <div id="level-objectprogramming" class="icon"></div>
      </div>
    </div>
    <div class="level">
      <div class="container-text right-dot">
        <div class="title">BAZE PODATAKA</div>
        <div class="text">
          Osnovni koncepti relacionih baza podataka, Modelovanje baza podataka -
          programski jezik SQL.
        </div>
      </div>
      <div class="container-icon">
        <div class="left dot"></div>
        <div class="right dot"></div>
        <div id="level-database" class="icon"></div>
      </div>
    </div>
    <div class="level">
      <div class="container-text left-dot">
        <div class="title">OSNOVE VEBA</div>
        <div class="text">
          HTTP protokol, statički i dinamički elementi veb stranica - HTML, CSS,
          JavaScript.
        </div>
      </div>
      <div class="container-icon">
        <div class="left dot"></div>
        <div class="right dot"></div>
        <div id="level-html" class="icon"></div>
      </div>
    </div>
    <div class="level">
      <div class="container-text right-dot">
        <div class="title">POČETAK NAPREDNOG MODULA (SEPTEMBAR 2019.)</div>
        <div class="text"></div>
      </div>
      <div class="container-icon">
        <div class="left dot"></div>
        <div class="right dot"></div>
        <div id="level-startsecond" class="icon"></div>
      </div>
    </div>
    <div class="level">
      <div class="container-text left-dot">
        <div class="title">ALATI ZA UPRAVLJANJE PROJEKTOM</div>
        <div class="text">
          Upravljanje verzijama i timski rad - Git, Izgradnja aplikacije -
          Maven, npm
        </div>
      </div>
      <div class="container-icon">
        <div class="left dot"></div>
        <div class="right dot"></div>
        <div id="level-git" class="icon"></div>
      </div>
    </div>
    <div class="level">
      <div class="container-text right-dot">
        <div class="title">SERVERSKI DEO VEB APLIKACIJA</div>
        <div class="text">
          Spring radni okvir, objektno-relaciono mapiranje - JPA specifikacija,
          REST servisi.
        </div>
      </div>
      <div class="container-icon">
        <div class="left dot"></div>
        <div class="right dot"></div>
        <div id="level-spring" class="icon"></div>
      </div>
    </div>
    <div class="level">
      <div class="container-text left-dot">
        <div class="title">KLIJENTSKI DEO VEB APLIKACIJA</div>
        <div class="text">
          Rukovanje stablom HTML stranice, asinhroni pozivi, napredno JavaScript
          programiranje – biblioteka jQuery, radni okvir Angular.
        </div>
      </div>
      <div class="container-icon">
        <div class="left dot"></div>
        <div class="right "></div>
        <div id="level-angular" class="icon"></div>
      </div>
    </div>
    <div class="level-end">
      <div class="container-line">
        <div class="line"><div class="left"></div></div>
      </div>
      <div class="container-finish">
        <div id="level-test" class="container-icon"></div>
        <div class="title">ZAVRŠNI TEST</div>
        <div class="text">
          Na kraju obuke se organizuje završni ispit, koji obuhvata celokupno
          gradivo kursa. Po završetku obuke se polaznicima dodeljuje sertifikat
          o pohađanju ili uspešno završenoj obuci, u zavisnosti od rezultata
          ostvarenih na završnom ispitu. Kurs je uspešno završen, ako polaznik
          na završnom ispitu ostvari najmanje 50% bodova.
        </div>
      </div>
    </div>
  </div>
</section>
