<section class="gallery">
  <div class="main">
    <div class="title">Galerija</div>
    <div class="content">
      <div class="container-img">
        {% for image in site.images %}
        <div class="frame-extension frame">
          <img
            class="gallery-img {{image.id}}"
            src="/img/Gallery/img_{{image.id}}.jpg"
          />
        </div>
        {% endfor %}
      </div>
      <!--
      <div class="pagination">
        <div id="gallery-pre-page" class="left"></div>
        <div id="gallery-next-page" class="right"></div>
      </div> -->
    </div>
  </div>
</section>

<section class="gallery-mob">
  <div class="main">
    <div class="title">Galerija</div>
    <div #panel class="frame-img">
      <div class="img"><img src="/img/Gallery/img_1.jpg" /></div>
      <div class="img"><img src="/img/Gallery/img_2.jpg" /></div>
      <div class="img"><img src="/img/Gallery/img_3.jpg" /></div>
      <div class="img"><img src="/img/Gallery/img_4.jpg" /></div>
      <div class="img"><img src="/img/Gallery/img_5.jpg" /></div>
    </div>
    <div class="pagination">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>
</section>

