<section class="gallery">
  <div class="main">
    <div class="title">Galerija</div>
    <div class="content">
      <div class="container-img">
        <div class="frame"><img src="/img/Gallery/img_1.jpg" /></div>
        <div class="frame"><img src="/img/Gallery/img_2.jpg" /></div>
        <div class="frame"><img src="/img/Gallery/img_3.jpg" /></div>
        <div class="frame"><img src="/img/Gallery/img_4.jpg" /></div>
        <div class="frame"><img src="/img/Gallery/img_5.jpg" /></div>
        <div class="frame"><img src="/img/Gallery/img_6.jpg" /></div>
        <div class="frame"><img src="/img/Gallery/img_7.jpg" /></div>
        <div class="frame"><img src="/img/Gallery/img_8.jpg" /></div>
        <div class="frame"><img src="/img/Gallery/img_9.jpg" /></div>
      </div>
      <div class="pagination">
        <div class="left"></div>
        <div class="right"></div>
      </div>
    </div>
  </div>
</section>

<section class="gallery-mob">
  <div class="main">
    <div class="title">Galerija</div>
    <div #panel class="frame-img">
      <div class="img"><img src="/img/Gallery/img_1.jpg" /></div>
      <div class="img"><img src="/img/Gallery/img_2.jpg" /></div>
      <div class="img"><img src="/img/Gallery/img_3.jpg" /></div>
      <div class="img"><img src="/img/Gallery/img_4.jpg" /></div>
      <div class="img"><img src="/img/Gallery/img_5.jpg" /></div>
    </div>
    <div class="pagination">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>
</section>
