<!-- Header -->
<!--
  <header>
      <div>
          <div class="logos">
              <div class="logo">
                  <img src="{{ "/img/logos/aleph_logo.png" | prepend: site.baseurl }}" class="site_logo" />
                  <div class="site_logo_name">{{site.name}}</div>
              </div>
          </div>
      </div>

      <div class="container">

          <div class="intro-text">


              <div class="intro-lead-in">
                  Obuka iz veb programiranja
              </div>

          </div>
      </div>
  </header>
-->

<section class="header">
  <div class="main">
    <div class="header">
      <div class="logo">
        <div class="img"></div>
        <div class="title">ALEPH</div>
      </div>
      <div class="nav">
        <div class="goCourse">KURS</div>
        <div class="goGallery">GALERIJA</div>
        <div class="goFaq">FAQ</div>
        <div class="goContact">KONTAKT</div>
      </div>
    </div>
    <div class="content">
      <div class="title">
        <div>Aleph obuka vam nudi</div>
        <div>mogućnost da postanete</div>
        <div><b>veb programer</b></div>
      </div>
      <div class="phrase">
        9 - mesečna obuka koja će vam preokrenuti karijeru.
      </div>
      <div class="buttons">
        <button class="btn-1 goContact">PRIJAVI SE</button>
        <button  class="btn-2 goCourse">ISTRAŽI KURS</button>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="button-left"><div id="left" class="icon"></div></div>
    <div class="list-company" id="scroll-company">
      <div class="comData"></div>
      <div class="execom"></div>
      <div class="exlrt"></div>
      <div class="itEngine"></div>
      <div class="leviNine"></div>
      <div class="libraFire"></div>
      <div class="mi"></div>
      <div class="naovis"></div>
      <div class="synechron"></div>
      <div class="vivify"></div>
    </div>
    <div class="button-right"><div id="right" class="icon"></div ></div>
  </div>
</section>
