    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">
                    Centar za obrazovanje u oblasti informaciono komunikacionih tehnologija Aleph ICT u saradnji sa Katedrom za informatiku Fakulteta tehničkih nauka u Novom Sadu i kompanijom Levi9 IT Services organizuje kurseve osnovnog i naprednog programiranja.
                </div>
                <!-- <div class="intro-heading">It's Nice To Meet You</div> -->
                <a href="#kursevi" class="page-scroll btn btn-xl">Pregledaj kurseve</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

