    <!-- Header -->
    <header>
        <div> 
            <div class="logos">
                <div class="logo">
                    <img src="{{ "/img/logos/aleph_logo.png" | prepend: site.baseurl }}" class="site_logo" />
                    <div class="site_logo_name">{{site.name}}</div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="intro-text">
                

                <div class="intro-lead-in">
                    Obuka iz veb programiranja
                </div>
                <div class="intro-subdescription">
                    U saradnji sa Katedrom za informatiku Fakulteta tehničkih nauka u Novom Sadu i IT kompanijama
                </div>                               
            </div>
        </div>
    </header>


