<!-- <section id="contact">
	<div class="container wider_container">
            <div class="row">
            	<h2 class="section-heading">Kontakt</h2>
                    <h3 class="section-subheading">Centar za obrazovanje u oblasti informaciono komunikacionih tehnologija Aleph ICT</h3>
               <div class="contact_columns clearfix">
                     <div class="col-lg-5 text-center clearfix contact_info_container">
                           <div class="col-lg-8 text-center contact_container">
                            <div class="contactLabel">E-mail:</div>
                            <div class="contactData">{{ site.contact_email }}</div>
                            <div class="contactLabel">Lokacija:</div>
                            <div class="contactDataLoc">{{ site.contact_addr }}</div>
                            <div class="locationData">
                                {{ site.contact_city }}<br>
                                {{ site.contact_desc }}<br>
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2808.7403982189626!2d19.842185650989776!3d45.25304207899648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b1069795c3951%3A0xe6fd8421ace0cf06!2z0KPQvdC40LLQtdGA0LfQuNGC0LXRgiDQodC40L3Qs9C40LTRg9C90YPQvA!5e0!3m2!1ssr!2srs!4v1483514338109" frameborder="0" style="border:0" allowfullscreen class="google_map"></iframe>
                        </div>
               </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
</section> -->