<section class="material">
  <div class="main">
    <div class="title">Nastavni Materijal</div>
    <div class="text">
      Obuku prati poseban udžbenik na srpskom jeziku i više od 400 rešenih programerskih zadataka.
    </div>
    <div class="book-img"><div  onclick="window.open('/book/Aleph_Materijal_primer_poglavlje2.pdf', '_blank', 'fullscreen=yes'); return false;" class="img"></div></div>
    <div class="button" ><button  href="#" onclick="window.open('/book/Aleph_Materijal_primer_poglavlje2.pdf', '_blank', 'fullscreen=yes'); return false;">POGLAVLJE UDŽBENIKA</button></div>
  </div>
  
</section>
