<nav nav-hide>
  <div class="container-nav " >
    <div class="logo">
      <div class="logo-img"><div class="img"></div></div>
      <div class="title">ALEPH</div>
    </div>
    <div class="links">
      <a class="goCourse">Kurs</a> 
      <a class="goGallery">Galerija</a> 
       <a class="goRegistration">Prijava</a>
      <!-- <a class="goFaq">FAQ</a> -->
      <a class="goContact">Kontakt</a>
    </div>
    <div class="menu-button">
      <div class="button" id="show-nav-big"></div>
    </div>
  </div>
</nav>

<div class="nav-big-mob" >
    <div class="container-logo"><div class="logo"></div></div>
    <div class="container-title"><div class="title">ALEPH</div></div>
    <div class="container-links">
      <div id="nav-links" class="links">
        <a class="goCourse">Kurs</a> <a class="goPrice">Cena</a> <a class="goRegistration">Prijava</a> <a class="goCompany">Zaposlenje</a>
        <!-- <a class="goFaq">FAQ</a> <a class="goGallery">Galerija</a> <a class="goContact">Kontakt</a> -->
      </div>
    </div>
    <div id="nav-social" class="container-social">
      <!-- <div class="facebook"></div>
      <div class="twiter"></div>
      <div class="google"></div> -->
    </div>
    <div class="container-close">
      <div class="button" id="hide-nav-big"></div>
    </div>
  </div> 
  


