<section class="registration">
  <div class="main">
    <div class="title">Prijava</div>
    <div class="text">
      Naredna grupa polaznika obuku počinje u februaru 2019. godine. Prijava se vrši slanjem e-maila na vpobuka@gmail.com.
      U e-mailu prijave je potrebno poslati CV, nakon čega ćete dobiti poziv na razgovor. 
      Zbog ograničenog broja mesta, biće izvršena selekcija prijavljenih kandidata na osnovu CV-a.
    </div>
    <!--
    <div class="button">
      <button
        onclick="location.href='mailto:vpobuka@gmail.com?Subject=Prijava%20za%20obuku%20iz%20veb%20programiranja'"
      >
        PRIJAVITE SE
      </button>
    </div> -->
  </div>
</section>
